<div class="dt-container">
  <div class="dt-head">
    <div class="dt-row dt-header-row">
      <div class="dt-cell dt-header-cell">Payee</div>
      <div class="dt-cell dt-header-cell">City</div>
      <div class="dt-cell dt-header-cell">State</div>
    </div>
  </div>
  <div class="dt-body">
    <div class="dt-row dt-body-row"
         ng-click="$ctrl.callSelect(payee)"
         ng-repeat="payee in $ctrl.payees | orderBy:'payeeName'">
      <div class="dt-cell dt-body-cell dt-payeeName dt-2-wide">{{ payee.payeeName }}</div>
      <div class="dt-cell dt-body-cell dt-payeeCity">{{ payee.city }}</div>
      <div class="dt-cell dt-body-cell dt-payeeState">{{ payee.state }}</div>
    </div>
  </div>
</div>