<!--
Add an event handler to the li with the ng-repeat, which calls selectPayee
on the controller, passing in the selected Payee

Uncomment the code below to reveal the Payee detail portion of the view.
Add a directive which will show the panel only if selectedPayee is defined
Then display the appropriate parts of the selected Payee in that part of the view.
Include these properties:
* payeeName
* id
* address
* city
* state
* zip
-->

<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li ng-repeat="payee in $ctrl.payees | orderBy: 'payeeName'">{{ payee.payeeName }}</li>
    </ul>
  </div>

  <!--
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>{{ $ctrl.payee.payeeName }}</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Payee id: {{ $ctrl.payee.id }}</li>
          <li class="list-group-item">{{ $ctrl.payee.address }}</li>
          <li class="list-group-item">{{ $ctrl.payee.city }}, {{ $ctrl.payee.state }} {{ $ctrl.payee.zip }}</li>
        </ul>
      </div>
    </div>
  -->
</div>