<!--
Take the calls to payee-list and payee-detail and move them to the appropriate
template values in payee.config.js

This file should have a div.row element
The row should contain an empty, 12 column wide div where the UI
view will be loaded

Then go to payee-list.component.html

-->

<div class="row">
  <div class="col-md-6">
    <payee-list payees="$ctrl.payees" on-payee-select="$ctrl.selectPayee(payee)"></payee-list>
  </div>
  <div class="col-md-6" ng-show="$ctrl.payee">
    <payee-detail payee="$ctrl.payee"></payee-detail>
  </div>
</div>