<!--
Build a representation of a payee. Use at least the following fields
* payeeName
* id
* address
* city
* state
* zip

If you are comfortable with Bootstrap, you can try to make the payee display
look distinctive. Consider using a panel, for example.
-->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>{{ $ctrl.payee.payeeName }}</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Payee id: {{ $ctrl.payee.id }}</li>
    <li class="list-group-item">{{ $ctrl.payee.address }}</li>
    <li class="list-group-item">{{ $ctrl.payee.city }}, {{ $ctrl.payee.state }} {{ $ctrl.payee.zip }}</li>
  </ul>
</div>
