<!--
Add a button in the empty div below. The text of the button should be
"Load data" and, when clicked, it should call the loadData() function
on the controller for this component

Then follow the directions below.
-->
<div>
  <button ng-click="$ctrl.loadData()">Load data</button>
</div>
<div class="dt-container">
  <div class="dt-head">
    <div class="dt-header-row row">
      <div class="col-md-4">Payee</div>
      <div class="col-md-4">City</div>
      <div class="col-md-4">State</div>
    </div>
  </div>
  <div class="dt-body">
    <!-- Add a div with the following specifications
    class: dt-row, dt-body-row, row
    ng-repeat: Iterates over each payee in $ctrl.payees;
      optional challenge: Have it order payees by payeeName

    Within that div, add three sub-divs
    class: dt-cell, col-md-4
    content: The payeeName, the city, and the state, respectively

    Your exercise should be ready to test. Open a browser and navigate to
    http://localhost:8000/banking/#/payees and see if it worked!
    -->
    <div class="dt-row dt-body-row row"
         ng-repeat="payee in $ctrl.payees | orderBy:'payeeName'">
      <div class="dt-cell col-md-4">{{ payee.payeeName }}</div>
      <div class="dt-cell col-md-4">{{ payee.city }}</div>
      <div class="dt-cell col-md-4">{{ payee.state }}</div>
    </div>
  </div>
</div>