<div class="dt-container">
  <div class="dt-head">
    <div class="row dt-header-row">
      <div class="col-md-4">Payee</div>
      <div class="col-md-4">City</div>
      <div class="col-md-4">State</div>
    </div>
    <div class="row">
      <!-- Add filter fields here!
      Try this for a template:
      <div class="col-md-4">
        <input type="text" ng-model=""> Don't forget to add the ng-model!
      </div>
      -->

    </div>
  </div>
  <div class="dt-body">
    <div class="dt-row dt-body-row row"
         ng-hide="$ctrl.noPayees"
         ng-click="$ctrl.callSelect(payee)"
         ng-repeat="payee in $ctrl.payees">
      <div class="dt-cell col-md-4 dt-payeeName">{{ payee.payeeName }}</div>
      <div class="dt-cell col-md-4 dt-payeeCity">{{ payee.city }}</div>
      <div class="dt-cell col-md-4 dt-payeeState">{{ payee.state }}</div>
    </div>
    <div ng-show="$ctrl.noPayees"><h2>No records found.</h2></div>
  </div>
</div>