<div class="dt-container">
  <div class="dt-head">
    <div class="dt-row dt-header-row">
      <div class="dt-cell dt-header-cell">Payee</div>
      <div class="dt-cell dt-header-cell">City</div>
      <div class="dt-cell dt-header-cell">State</div>
    </div>
  </div>
  <div class="dt-body">
    <!--
    Add an event handler for click events here that invokes ctrl.picked, and
    passes in the current payee
    -->
    <div class="dt-row dt-body-row"
         ng-click="$ctrl.picked(payee)"
         ng-repeat="payee in $ctrl.payees | orderBy:'payeeName'">
      <div class="dt-cell dt-body-cell">{{ payee.payeeName }}</div>
      <div class="dt-cell dt-body-cell">{{ payee.city }}</div>
      <div class="dt-cell dt-body-cell">{{ payee.state }}</div>
    </div>
  </div>
</div>