<!--
The form has been mostly constructed for you.
You will need to add ng-model directives to each input field
The ng-models should all share the same object, like the last exercise
But have property names that conform to Payee property names

In the button at the bottom, add an ng-click which invokes $ctrl.search, passing
it the form model object.

Then return to payee-search.component.js
-->

<form>
  <div class="form-group">
    <label for="payee-payeeName">Payee Name</label>
    <input ng-model="$ctrl.searchForm.payeeName" id="payee-payeeName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="payee-address">Address </label>
    <input ng-model="$ctrl.searchForm.address" id="payee-address" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="payee-city">City</label>
    <input ng-model="$ctrl.searchForm.city" id="payee-city" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="payee-state">State</label>
    <input ng-model="$ctrl.searchForm.state" id="payee-state" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="payee-motto">Motto (contains)</label>
    <input ng-model="$ctrl.searchForm.motto" id="payee-motto" type="text" class="form-control">
  </div>
  <div class="form-group">
    <button ng-click="$ctrl.search($ctrl.searchForm)">Search</button>
  </div>
</form>