<form>
  <div class="form-group">
    <label for="payee-name">Payee Name</label>
    <input ng-model="searchForm.payee.payeeName_like" id="payee-name" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input ng-model="searchForm.category.categoryName_like" id="category" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="amount-low">Amount Low </label>
    <input ng-model="searchForm.amount_gte" id="amount-low" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="amount-high">Amount High</label>
    <input ng-model="searchForm.amount_lte" id="amount-high" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="start-date">Start Date (yyyy-mm-dd)</label>
    <input ng-model="searchForm.txDate_gte" id="start-date" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="end-date">End Date (yyyy-mm-dd)</label>
    <input ng-model="searchForm.txDate_lte" id="end-date" type="text" class="form-control">
  </div>
  <div class="form-group">
    <!--<payee-select></payee-select>-->
  </div>
  <div class="form-group">
    <!--<category-select></category-select>-->
  </div>
  <div class="form-group">
    <button ng-click="$ctrl.search(searchForm)">Search</button>
  </div>
</form>